body{
  background-color: #9e3737;
  overflow-y: hidden;
  overflow-x: hidden;
}
.homeImage{
  object-fit: fill;
  height: 66vh;
}
.contenedorimgPrincipal{
  position: relative;
}
.contenedorButton{
  position: absolute;
  margin: 15px 15px 15px;
}
.botonprincipal {
  background: #fff /*#222243*/;
  height: 3rem;
  border-radius: 27px;
  width: 3rem;
  color: #222243;
  border: none;
}

.contenedorLike{
  height: 34vh;
  width: 100%;
}

.close{
  font-size:  41px;
}

.closeIcon{
  border: none;
  background: none;
}

.favorite{
  font-size: 61px;
  color: #236BFE;
}

.footer{
  position: absolute;
  bottom: 1rem;
  width: 100%;
}

.tabsIcons{
  background-color: #fff;
  height: 8vh;
  width: 90%;
}

.iconTab{
  border: none;
  background: none;
  font-size: 25px;
  color: #777777;
}